Domaci3v3_SaVezbeNadogradnja/Sub/Connected Services/ServiceReference1/PubSub2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PubSubApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PubSubApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
</xs:schema>