Domaci3v2/Kupidon/KlijentFramework/Connected Services/ServiceReference1/Kupidon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kupidon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kupidon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Korisnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrojTelefona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Godine" type="xs:int" />
      <xs:element minOccurs="0" name="Grad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimioPoruku" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Korisnik" nillable="true" type="tns:Korisnik" />
  <xs:complexType name="ArrayOfKorisnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Korisnik" nillable="true" type="tns:Korisnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKorisnik" nillable="true" type="tns:ArrayOfKorisnik" />
</xs:schema>