Domaci3v2/Kupidon/KlijentFramework/Connected Services/ServiceReference1/Kupidon2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50927/Kupidon.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Kupidon" />
  <xs:element name="sendLetters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="poruka" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initSinglePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kupidon" minOccurs="0" name="korisnik" nillable="true" type="q1:Korisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNotified">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kupidon" minOccurs="0" name="korisnici" nillable="true" type="q2:ArrayOfKorisnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>